<%= title 'Onboarding' %>
<%= render ContainerComponent.new do %>
  <%= render SectionComponent.new() do %>
    <p>Welcome <%= @user.username %> on <%= @community.name %> Learning Community</p>
    <p>Your are now the administrator</p>
    <p>Before continuing we need a few informations</p>
  <% end %>
<% end %>
