<% title 'Create a new learning community' %>
<h1>Create a new learning community</h1>
<%= form_with model: @community, url: communities_path, scope: :community do |f| %>
  <%= f.label :name, "Community name" %>
  <%= f.text_field :name, placeholder: 'Les colibris' %>
  <%= f.label :subdomain, "Subdomain" %>
  <%= f.text_field :subdomain, placeholder: 'colibris' %>
  <%= label_tag 'Username' %>
  <%= text_field_tag 'community[username]' %>
  <%= label_tag 'Email' %>
  <%= text_field_tag 'community[email]' %>
  <%= label_tag 'Password' %>
  <%= password_field_tag 'community[password]' %>
  <%= f.submit 'Create' %>
<% end %>
